<div class="panel-group" id="sizefilteraccordion" role="tablist" aria-multiselectable="true">
  <div>
    <div role="tab" id="headingOne">
      <!-- <h4 class="panel-title">
          <a>SIZE</a>
          <div class="pull-right">
              <i class="more-less fa fa-minus"></i>
            </div>
        </h4> -->
      <h4 class="panel-title">
        <a (click)="isCategory=!isCategory">SIZE
          <div class="pull-right">
            <i class="fa" [class.fa-plus]="isCategory==true" [class.fa-minus]="isCategory==false"></i>
          </div>
        </a>

      </h4>
    </div>
    <div id="sizefilter" class="panel-collapse" [class.collapse]="isCategory==true" role="tabpanel" aria-labelledby="headingOne">
      <div class="">
        <div class="w3ls_dresses_grid_left_grid grid-size-filter">
          <div class="w3ls_dresses_grid_left_grid_sub">
            <div class="styled-input-container styled-input--square">
              <ul class="panel_bottom">
                <li *ngFor="let size of sizes">
                  <div class="styled-input-single">
                    <input id="product-filter-s{{size.sizeId}}" type="checkbox" class="input-assumpte checkbox-border" [(ngModel)]="size.checked" (click)="filter(size,$event.target.checked,'size')">
                    <label for="product-filter-s{{size.sizeId}}" class="checkbox-menu">{{size.sizeName}}</label>
                  </div>
                </li>
              </ul>
            </div>
            <a class="size-guide" target="_blank" href="https://www.net-a-porter.com/intl/sizechart.nap">Size Guide</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
