<!-- updated header -->
<div class="wsmenucontainer clearfix">
  <div id="overlapblackbg"></div>
  <div class="wsmobileheader clearfix">
    <a id="wsnavtoggle" class="animated-arrow">
      <span></span>
    </a>
    <a class="smallogo">
      <img src="../assets/images/shop-logo.png">
    </a>

    <a class="callusicon" href="">
      <span class="fa fa-shopping-basket"></span>
      <em class="roundpoint-mobile">8</em>
    </a>
  </div>
  <div class="headtoppart clearfix">
    <div class="headerwp">
      <div class="headertopleft">
        <div class="address clearfix">
          <!-- Country -->
          <app-country [displayType]="type"></app-country>
          <app-language></app-language>
          <a href="#">Sign In | Register</a>
        </div>
      </div>
      <div class="headertopright">
        <a>
          <i class="fa fa-truck" aria-hidden="true"></i> {{ 'Free delivery in United Arab Emirates over' | translate }} AED 200</a>
      </div>
    </div>
  </div>
  <app-navigation></app-navigation>
</div>
