.footer {
    padding: 4em 0;
    background: #111;
}
.w3_footer_grid ul li a:hover {
    color: #999;
}
.w3_footer_grid ul li {
    list-style-type: none;
    margin-bottom: 0.5em;
    color: #999;
    font-size: 11px;
}
.w3_footer_grid ul.info li a {
background: none;
padding-left:0px;
}
.w3_footer_grid h3 {
    color: #bcbcbc;
    font-size: 13px;
    margin-bottom: 0.8em;
    padding-bottom: .5em;
    position: relative;
    font-family: 'Open Sans', sans-serif;
	text-transform:capitalize;
}
.w3_footer_grid h3:after {
background: none;
}
input[type="submit"] {
    outline: none;
    border: none;
    background: #212121;
    padding: 10px 0;
    color: #fff;
    width: 23%;
    font-size: 12px;
    text-transform: uppercase;
    margin: 0;
}
input[type="text"], input[type="email"]{
    outline: none;
    border: 1px solid #DFDFDF;
    background: #f5f5f5;
    padding: 9px;
    color: #212121;
    width: 100%;
	    min-width: 249px;
    font-size: 11px;
}
.agileits_social_button ul li a.facebook {
    background: url(../../assets/images/img-sp.png) no-repeat -1px -130px transparent;
    display: block;
    width: 35px;
    height: 35px;
}
.agileits_social_button ul li a.twitter {
    background: url(../../assets/images/img-sp.png) no-repeat -41px -130px transparent;
    display: block;
    width: 35px;
    height: 35px;
}
.agileits_social_button ul li a.google {
    background: url(../../assets/images/img-sp.png) no-repeat -80px -130px transparent;
    display: block;
    width: 35px;
    height: 35px;
}
.agileits_social_button ul li a.pinterest {
    background: url(../../assets/images/img-sp.png) no-repeat -123px -130px transparent;
    display: block;
    width: 35px;
    height: 35px;
}
.w3_footer_grid h4 {
    margin: 1.2em 0 1em;
    font-size: 12px;
    color: #bcbcbc;
    font-family: 'Open Sans', sans-serif;
}
.w3_footer_grid ul li a {
    color: #ddd;
    text-decoration: none;
}
.footer-copy p {
    margin: 0.7em 0 0 0em;
    color: #bcbcbc;
    line-height: 1.8em;
    font-size: 12px;
    text-align: left;
}
.payment .col-md-2 {
padding:0px;
}
.payment .payee {
    font-size: 11px;
    color: #bcbcbc;
    display: inline-block;
    padding: 0;
    margin: 0 -15px;
    width: 130px;
}
.footer-copy.container {
    clear: both;
    position: relative;
    padding-top: 20px;
}
.text-center-ship {
    text-align: left !important;
    margin: 0 !important;
    min-width: 200px;
    padding: 7px 0px;
}
.payment {
    padding: 0px;
}
.footer-link {
    border-bottom: 1px solid #4d4d4d;
    padding-bottom: 20px;
}


ul.bottom-dropdown {
    bottom:100% !important;
    top:auto !important;
}

ul.bottom-dropdown > li > a {
    color: #504c4c !important;
}
.dropdown-toggle {
    color: #727171;
}
