.footer {
    padding: 1em 0;
    overflow: hidden;
    background: #eee;
    border-bottom: 10px solid #000;
}
.w3_footer_grid ul.info li a {
padding-left:0px;
background: none;
}
.w3_footer_grid h4 {
    margin: 1em 0em 2em;
    font-size: 1em;
    text-transform: uppercase;
    color: #000;
    font-weight: normal;
}

.w3_footer_grid ul.info li a {
    color:#000;
    }
ul.info {
    padding-left: 0px;
}