<!-- footer -->
<div class="footer">
    <div class="container">
      <div class="w3_footer_grids">
        <div class="col-md-8 w3_footer_grid">
         <h4>Useful Information</h4>
          <ul class="info col-md-3">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Short Codes</a></li>
            <li><a href="#">FAQ's</a></li>
            <li><a href="#">Special Products</a></li>
          </ul>
      <ul class="info col-md-3">
            <li><a href="#">Dresses</a></li>
            <li><a href="#">Sweaters</a></li>
            <li><a href="#">Shirts</a></li>
            <li><a href="#">Sarees</a></li>
            <li><a href="#">Shorts & Skirts</a></li>
          </ul>
      <ul class="info col-md-2">
            <li><a href="#">Dresses</a></li>
            <li><a href="#">Sweaters</a></li>
            <li><a href="#">Shirts</a></li>
            <li><a href="#">Sarees</a></li>
            <li><a href="#">Shorts & Skirts</a></li>
          </ul>
          <ul class="info col-md-2">
              <li><a href="#">Dresses</a></li>
              <li><a href="#">Sweaters</a></li>
              <li><a href="#">Shirts</a></li>
              <li><a href="#">Sarees</a></li>
              <li><a href="#">Shorts & Skirts</a></li>
            </ul>
        </div>
   
        <div class="col-md-4 w3_footer_grid">
          <h4>Stay in Touch</h4>
         <form class="aquisition-form" action="/ae/en/emailUpdatesRegistration.nap" method="get">
                                    <div class="form-container">
                                      <input class="email-input" name="emailAddress" placeholder="Sign up for NET-A-PORTER news" type="email">
                                      <i class="fa fa-chevron-right" type="submit" ></i>
                                    </div>
                                  </form>
          
        </div>
        <div class="clearfix"> </div>
      <div class="copyright col-md-12">
                                <span>© 2018</span>
                                <img src="https://nap-assets.nap-live.ext.net-a-porter.com/girdle/images/header/logo-net-a-porter.80097ad030588586.svg" alt="Net-A-Porter" width="120" />
                              </div>
      </div>
    </div>
  </div>
  <!-- //footer -->