<section id="description">
  <div class="container">
    <div class="row">
      <div class="breadcrumbs">
        Home
        <a class="breadcrumb-anchor" [routerLink]="['/shop',cn,ln,breadCrumbMenuId]">
          / {{breadCrumbMenuName}}
        </a>
        <span *ngIf="breadCrumbCategoryName">
          <a class="breadcrumb-anchor" [routerLink]="['/shop',cn,ln,breadCrumbMenuId,breadCrumbCategoryId]">
            / {{breadCrumbCategoryName}}
          </a>
        </span>
        <span *ngIf="breadCrumbSubCategoryName">
          <a class="breadcrumb-anchor" [routerLink]="['/shop',cn,ln,breadCrumbMenuId,breadCrumbCategoryId,breadCrumbSubCategoryId]">
            / {{breadCrumbSubCategoryName}}
          </a>
        </span>
        <span *ngIf="breadCrumnSubLevelName">
          <a class="breadcrumb-anchor" [routerLink]="['/shop',cn,ln,breadCrumbMenuId,breadCrumbCategoryId,breadCrumbSubCategoryId,breadCrumbSubLevelId]">
            / {{breadCrumnSubLevelName}}
          </a>
        </span>
        <span>/ {{breadCrumbProductName}}</span>
      </div>
      <div class="col-md-8">
        <div id="carousel-custom" class="carousel slide " data-ride="carousel" data-interval="false">
          <div class="row">
            <div class="col-md-2">
              <div class="thumbnail-prev-button swiper-button">
                <a class="thumbnail-prev-button swiper-button" href="#carousel-custom" data-slide="prev">
                  <span class="fa fa-chevron-up thumb-arrow"></span>
                </a>
              </div>
              <ol class="carousel-indicators">
                <li data-target="#carousel-custom" *ngFor="let image of images;let i = index" [attr.data-slide-to]="i" [class.active]="i == 0"
                  (click)="isOn=true;">
                  <img class="thumbnail-image" data-image="yellow" src="{{image?.url}}" />
                </li>
              </ol>

              <div class="thumbnail-next-button swiper-button">
                <a class="thumbnail-next-button swiper-button" href="#carousel-custom" data-slide="next">
                  <span class="fa fa-chevron-down thumb-arrow"></span>
                </a>
              </div>
              <div class="icon icon-video_play text-center" (click)="toggleVideo();">
                <span class="fa fa-play-circle"></span>
              </div>
            </div>
            <div class="col-md-9">             
                <popover-content #myPopover [closeOnMouseOutside]="false" [closeOnClickOutside]="true">
                    <div class="text-center"><b>Like This Item?</b></div>               
                    <div class="text-center">
                      <p class="text-nowrap">Save It as a favorite, and we'll notify you</p>
                      <p class="text-nowrap">if it goes on sale and more.</p>
                    </div>                
                  </popover-content>
                  <i class="fa fa-heart-o wish-list-popover" [popover]="myPopover" 
                   aria-hidden="true"></i>
              <div class="pull-right">
                  
              </div>
              <div class="carousel-outer" *ngIf="isOn">
                <!-- me art lab slider -->
                <div class="carousel-inner " role="listbox">
                  <div class="item text-center" *ngFor="let image of images;let i = index" [class.active]="i==0">
                    <span>
                      <!-- <img appProductView src='{{image?.url}}' attr.data-zoom-image="{{image?.url}}" /> -->
                      <img appProductView src='{{image?.url}}' alt='Daisy on the Ohoopee' class="img-responsive" />
                      <!-- <p>Hover</p> -->
                    </span>
                  </div>
                </div>

                <!-- sag sol -->
                <a class="left zoom-arrow-index carousel-control" href="#carousel-custom" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right zoom-arrow-index carousel-control" href="#carousel-custom" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
              </div>
              <div class="item" [hidden]="isOn">
                <video preload="none" src="{{productsArr?.video}}" controls (click)="toggleVideo()" #videoPlayer class="img-responsive">
                  <!-- <source src="https://video.net-a-porter.com/videos/productPage/1048377_detail.mp4" type="video/mp4" /> Browser not supported -->
                </video>
              </div>
              <!-- <video width="320" height="240" controls>
                <source src="https://video.net-a-porter.com/videos/productPage/1048377_detail.mp4" type="video/mp4">
              </video> -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <h3>
          <span class="in_sport" [innerText]="productsArr?.name"></span>
        </h3>
        <span class="product-name" [innerText]="productsArr?.description"></span>
        <div class="full-price style-scope nap-price" itemprop="price" content="861.61">
          <span [ngClass]="{'actualPrice':productsArr?.available==true}">AED {{productsArr?.offerPrice}}</span>
          <span *ngIf="productsArr?.available==true">
            <del>AED {{productsArr?.originalPrice}}</del>
          </span>
        </div>
        <div>
          <span class="product-name">{{productsArr?.message}}</span>
        </div>
        <div>
          <span class="product-name">product code: {{productsArr?.code}}</span>
        </div>
        <hr>
        <div *ngIf="productsArr?.available==true">
          <div class="product-name">
            CHOOSE SIZE
            <a class="size-guide pull-right" href="/intl/pssizechart.nap?productID=1045388&amp;tab=1" target="_blank">
              <i class="rotate fa fa-align-right"></i>
              <span class="icon-size_guide">View Size Guide</span>
            </a>
          </div>
          <div class="row col-md-12">
            <span class="product-size-image" *ngFor="let size of sizes">
              <button class="btn btn-default product-size-btn">{{size.sizeName}}</button>
            </span>
          </div>
          <div class="color-image">
            <a *ngFor="let color of availableColors" (click)="imageColorSelection(color)">
              <img class="img-responsive" width="50" height="50" [src]="color.url">
            </a>
            <!-- <a (click)="imageColorSelection('blue')">
              <img class="img-resposive" width="50" height="50" src="assets/img/blueColor.png">
            </a>
            <a (click)="imageColorSelection('red')">
              <img class="img-resposive" width="50" height="50" src="assets/img/RedColor.png">
            </a> -->
          </div>
          <div>
            <div class="product-shipment text-center">
              Ship To:United Arabia Emirates
              <span class="fa fa-chevron-down"></span>
              <div>
                Order Within 9 hours and 1 minute for garaunteed same day shipping
              </div>
            </div>
          </div>
          <div class="shopping-cart">
            <button type="button" class="btn btn-primary btn-lg col-md-12 nap-button">Add to Basket</button>
          </div>
        </div>
        <div *ngIf="productsArr?.available!=true">
          <div class="product-name actual-price">
            Out Of Stocks
            <p>
              Please Enter Your Email We'll Remind You When this Product Is Back in Stock Again.
            </p>
          </div>
          <div>
            <input type="text" class="form-control" placeholder="Your Email Adderss">
          </div>
          <div>
            <button class="btn btn-primary submit-button">SUBMIT</button>
          </div>
        </div>
        <div id="panel-group" class="panel-product accordion-container">
          <div class="" *ngFor="let item of productsArr?.Items; let i = index">
            <div class="" (click)="current = !current">
              <h5 class="panel-title">
                {{item.title}}
                <div class="pull-right">
                  <i class='fa' [class.fa-plus]="i != current" [class.fa-minus]="i == current" aria-hidden="true"></i>
                </div>
              </h5>
            </div>
            <div id="collapse1" class="panel-collapse" [class.collapse]='current != i'>
              <p>{{item.description}}</p>
            </div>
          </div>
        </div>
        <div class="share-icon">
          <h5>SHARE ON</h5>
          <a href="http://www.facebook.com">
            <i class="fa fa-facebook-f"></i>
          </a>
          <a href="http://www.twitte.com">
            <i class="fa fa-twitter"></i>
          </a>
          <a href="http://www.pinterest.com">
            <i class="fa fa-pinterest"></i>
          </a>
          <a href="http://www.googleplus.com">
            <i class="fa fa-google-plus"></i>
          </a>
          <a href="mailto:">
            <i class="fa fa-envelope"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<app-alternative-style *ngIf="alternateProducts" [Products]="alternateProducts"></app-alternative-style>
<app-ways-to-shop></app-ways-to-shop>