<section class="address">
  <div class="container">
    <div class="col-xs-12">
        <div class="text-center alternate">
            <span>
              <strong>More ways to shop</strong>
            </span>
          </div>
      <div class="show-hide-content content row text-center" style="transition: max-height 0.5s ease-in-out 0s; max-height: 0px;">
        <div class="delivery col-xs-12 col-lg-3">
          <div class="view-more">
            <a href="/ae/en/Help/ShippingRatesAndPolicies" target="_blank" class="js-popup enabled help-link" data-link-name="delivery options">Roberto Cavalli</a>
          </div>
        </div>
        <div class="returns col-xs-12 col-lg-3">
          <div class="view-more">
            <a href="/ae/en/Help/ReturnsAndExchanges" target="_blank" class="js-popup enabled help-link" data-link-name="returns">Wedding Gowns</a>
          </div>
        </div>
        <div class="returns col-xs-12 col-lg-3">
          <div class="view-more">
            <a href="/ae/en/Help/ReturnsAndExchanges" target="_blank" class="js-popup enabled help-link" data-link-name="returns">Long Dresses</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>