<div class="breadcrumbs">
  Home /
  <a class="breadcrumb-anchor" (click)="loadMenuClick(cn,ln,menuId,categoryId)">{{breadCrumbMenuName}} </a>
  <span *ngIf="breadCrumbSubCategoryName">
    <a class="breadcrumb-anchor" [routerLink]="['/shop',cn,ln,menuId,categoryId]">/ {{breadCrumbCategoryName}}</a>
  </span>
  <span *ngIf="breadCrumnSubLevelName">
    <a class="breadcrumb-anchor" [routerLink]="['/shop',cn,ln,menuId,categoryId,subCategoryId]">/ {{breadCrumbSubCategoryName}}</a>
  </span>
</div>
<!-- breadcrumbs -->
<div class="w3ls_dresses_grid_left_grid2_left">
  <h1 *ngIf="breadCrumbCategoryName && !(breadCrumbSubCategoryName || breadCrumnSubLevelName)">
    <a class="breadcrumb-anchor" [routerLink]="['/shop',cn,ln,menuId,categoryId]">
      {{breadCrumbCategoryName}}
    </a>
  </h1>
  <h1 *ngIf="breadCrumbSubCategoryName && !(breadCrumnSubLevelName)">
    <a class="breadcrumb-anchor" [routerLink]="['/shop',cn,ln,menuId,categoryId,subCategoryId]">
      {{breadCrumbSubCategoryName}}
    </a>
  </h1>
  <h1 *ngIf="breadCrumnSubLevelName">
    <a class="breadcrumb-anchor" [routerLink]="['/shop',cn,ln,menuId,categoryId,subCategoryId,subLevelId]">
      {{breadCrumnSubLevelName}}
    </a>
  </h1>
  <div class="product-total">{{length}} Items Found</div>
</div>
<!-- w3ls_dresses_grid_left_grid2_left -->