<span class="promotional_block">
    <img src="https://www.net-a-porter.com/alfresco/nap/webAssets/webPage/category-landing-pages/clothing/2018/03/09/intl/en.jpg">
</span>

<div class="w3ls_dresses_grid_right_grid3">
    <div class="row product-display-filter">
        <div class="col-md-3">
            <input type="checkbox" class="on-sale"> On Sale Items
        </div>
        <div class="col-md-3">
            <select name="select_item" (change)="sortProduct($event.target.value)" class="select_item">
                <option value="all">Select</option>
                <option *ngFor="let sortProduct of sort" [value]="sortProduct.sortTypeName">
                    {{sortProduct.sortDisplayName}}
            </option>
        </select>
        <select name="select_item" (change)="selectPageSize($event.target.value)" class="select_item">
            <option value="all">Select</option>
            <option value="5">5/pages</option>
            <option value="10">10/pages</option>
            <option value="25">25/pages</option>
            <option value="50">50/pages</option>
        </select>
    </div>
    <!-- pagination code -->
    <ul *ngIf="pager.pages && pager.pages.length" class="pagination pull-right">
        <li [ngClass]="{disabled:pager.currentPage === 1}">
            <a (click)="setPage(1)">First</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === 1}">
            <a (click)="setPage(pager.currentPage - 1)">Previous</a>
        </li>
        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
            <a (click)="setPage(page)">{{page}}</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
            <a (click)="setPage(pager.currentPage + 1)">Next</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
            <a (click)="setPage(pager.totalPages)">Last</a>
        </li>
    </ul>
    <!-- pagination code -->
</div>
<div class="row">
    <div *ngIf="products.length===0">
        Sorry! No Matching Products
    </div>
    <div *ngFor="let product of products;let i = index" class="col-md-3 col-sm-6 col-12 agileinfo_new_products_grid agileinfo_new_products_grid_dresses">
        <div class="row">
            <div class="agile_ecommerce_tab_left dresses_grid">
                <div class="hs-wrapper hs-wrapper2">
                    <a [routerLink]='["/product",cn,ln,product.id]'>
                        <img src="{{product.productImg}}" alt="">
                        <!-- <img *ngIf="ImageView=='product'" src="{{product.productImg}}" alt="">
                        <img *ngIf="ImageView=='outFit'" src="{{product.outFitImg}}" alt=""> -->
                    </a>
                </div>
                <div class="description">
                    <a routerLink="/product/{{product.id}}" title="Printed satin dress" data-position="1">
                        <span class="designer">{{product.name}}</span>
                    </a>
                    <br class="clearboth">
                    <span class="product-description">
                        {{product.description}}
                    </span>
                    <br>
                    <span class="price ">
                        <span class="price-detail">
                            <span *ngIf="product.offerPrice!='0'" class="offer-price">
                                AED {{product.offerPrice}}
                            </span>
                            <span [ngClass]="{'strike':product.offerPrice!=='0'}">
                                AED {{product.orginalPrice}}
                            </span>
                        </span>
                    </span>
                    <br class="clearboth">
                    <span class="slug"></span>
                </div>
            </div>
        </div>
        <!-- row -->
    </div>
</div>
<!-- pagination code -->
<div class="pull-right">
    <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
        <li [ngClass]="{disabled:pager.currentPage === 1}">
            <a (click)="setPage(1)">First</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === 1}">
            <a (click)="setPage(pager.currentPage - 1)">Previous</a>
        </li>
        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
            <a (click)="setPage(page)">{{page}}</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
            <a (click)="setPage(pager.currentPage + 1)">Next</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
            <a (click)="setPage(pager.totalPages)">Last</a>
        </li>
    </ul>
</div>
<!-- pagination code -->


<div id="product-list-menu-bottom">
    <!-- <a class="back-to-top" href="#top">Back to top
    </a> -->
</div>
<!-- <div class="row">
  <div class="col-md-8 pagination pull-right">
    <pagination-controls (pageChange)="p=$event"></pagination-controls>
  </div>
</div> -->

</div>
