<div class="w3ls_dresses_grid_right_grid3">
  <div *ngIf="products.length===0">
    Sorry! No Matching Products
  </div>

  <div *ngFor="let product of products | paginate:{itemsPerPage:5,currentPage:p}" class="col-md-4 agileinfo_new_products_grid agileinfo_new_products_grid_dresses">
    <div class="agile_ecommerce_tab_left dresses_grid">
      <div class="hs-wrapper hs-wrapper2">
        <a routerLink="/product/:cn/:ln/{{product.id}}">
          <img *ngIf="ImageView=='product'" src="{{product.productImg}}" alt="" >
          <img *ngIf="ImageView=='outFit'" src="{{product.outFitImg}}" alt="">
        </a>

      </div>

      <div class="description">
        <a title="Printed satin dress" data-position="1">
          <span class="designer">{{product.name}}</span>
        </a>
        <br class="clearboth">
        <span class="product-description">
          {{product.description}}
        </span>
        <br>
        <span class="price ">
          £ {{product.price}}
        </span>
        <br class="clearboth">
        <span class="slug"></span>
      </div>
    </div>
  </div>




  <div id="product-list-menu-bottom">
    <!-- <a class="back-to-top" href="#top">Back to top
    </a> -->
  </div>
  <div class="row">
    <div class="col-md-8 pagination pull-right">
      <pagination-controls (pageChange)="p=$event"></pagination-controls>
    </div>
  </div>
  <span class="promotional_block">
    <img src="https://www.net-a-porter.com/alfresco/nap/webAssets/webPage/category-landing-pages/clothing/2018/03/09/intl/en.jpg">
  </span>
</div>