<div class="container product-view">
    <div class="col-md-12">
    <div class="w3ls_dresses_grid_left_grid2_left">
    <button class="btn btn-default">Product View</button>
                <select name="select_item" (change)="sortProduct()" class="select_item">
                    <option value="">Select</option>
                    <option *ngFor="let sortProduct of sort"
                     [value]="sortProduct.sortTypeName">
                      {{sortProduct.sortDisplayName}}
                    </option>
                </select>
      </div>
      <div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Page No"  [(ngModel)]="pageNum">
      </div>
    </div>
    <li class="nav"><a [routerLink]="['product']" [queryParams]="{ pageNum: pageNum, test:5 }">Product</a></li>
    </div>
    <div class="col-md-12">
      <div class="col-md-4">
          <div class="w3ls_dresses_grid_left_grid_sub">
              <ul class="panel_bottom">
                <li *ngFor="let subCategory of subCategories">
                  <a (click)="subCategoryName=subCategory.name;loadUrl()"
                  [routerLink]="['/home/',categoryId,subCategory.name]" 
                  queryParamsHandling="merge" 
                >{{subCategory.name}}</a>
                </li>
              </ul>
            </div>
            <!-- designer -->
            
            <div class="w3ls_dresses_grid_left_grid">
                <h3>designers</h3>
                <div class="w3ls_dresses_grid_left_grid_sub">
                 <ul class="panel_bottom">
                    <li *ngFor="let designer of designers">
                      <input (click)="filter(designer,$event.target.checked,'designer')" type="checkbox" 
                      >
                      <a 
                      [routerLink]="['/home/',categoryId,subCategoryName?subCategoryName:'']"
                       >
                       {{designer.designerDisplayName}}</a>
                    </li>
                  </ul>
                </div>
              </div>
            <!-- color -->
            <div class="w3ls_dresses_grid_left_grid">
                <h3>Color</h3>
                <div class="w3ls_dresses_grid_left_grid_sub">
                 <ul class="panel_bottom">
                    <li *ngFor="let color of colors">
                      <input type="checkbox" 
                      (click)="filter(color,$event.target.checked,'color')">
                      <a 
                      [routerLink]="['/home',categoryId,subCategoryName?subCategoryName:'']" 
                      >
                        {{color.colorName}}</a>
                    </li>
                  </ul>
                </div>
              </div>
              <!-- size-->
              <div class="w3ls_dresses_grid_left_grid">
                  <h3>Size</h3>
                  <div class="w3ls_dresses_grid_left_grid_sub">
                    <ul class="panel_bottom">
                      <li *ngFor="let size of sizes">
                      <input type="checkbox" 
                          (click)="filter(size,$event.target.checked,'size')"
                          >
                        <a 
                        [routerLink]="['/home/',categoryId,subCategoryName?subCategoryName:'']"
                       
                        >{{size.sizeName}}</a>
                      </li>
                    </ul>
                  </div>
                </div>
      </div>
      <div class="col-md-8">
        <app-products [products]="products"></app-products>
      </div>
    </div>
    </div>