<div class="container product-view">
  <div class="col-md-12 category-banner">
    <div id="product-list-menu" class="product-list-menu ">
      <div class="col-md-3">
        <div class="breadcrumbs">
          Home / {{menuName}} / {{categoryName}}
        </div>
        <div class="w3ls_dresses_grid_left_grid2_left">
          <!-- <button (click)="imageView($event.target.value)" *ngIf="productImageView=='product'" value="outFit" class="btn btn-default">
            Outfit View
          </button> -->
          <!-- <button (click)="imageView($event.target.value)" *ngIf="productImageView=='outFit'" value="product" class="btn btn-default">
            Product View
          </button> -->
          <h1>{{categoryName}}</h1>
          <div class="product-total">{{products?.length}} Items Found</div>
        </div>
      </div>


    </div>
  </div>

  <div class="col-md-12 section-view">
    <div class="col-md-3">
      <app-category></app-category>
      <app-colors></app-colors>
      <app-price></app-price>
      <app-size></app-size>
    </div>
    <div class="col-md-9">
      <app-products [ImageView]="productImageView" [products]="products"></app-products>
    </div>
  </div>

  <!--ads-->
  <app-relatives></app-relatives>
</div>