.panel_bottom li a {
    font-size: .96em !important;
    text-transform: uppercase;
    font-family: '33535gillsansmt';
    color: #000;
}
.w3ls_dresses_grid_left_grid h3 {
    padding-left: 0em;
    margin-bottom: 0em;
	font-size:16px;
}