/* .promo-bar {
    z-index: 5;
    background-color: #EEE;
    overflow: hidden;
}
.promo-bar {
    width: 100%;
    min-height: 37px;
    position: relative;
    height: auto;
    margin-top: -5px;
    overflow: visible;
}
.promo-bar {
    display: block;
}
.promo-bar .customer-care-wrapper {
    float: left;
    margin-right: 25px;
}
.promo-bar .customer-care {
    font-size: 11px;
    color: #000;
    margin-left: 10px;
    display: block;
}
.promo-bar .shop-for-him-wrapper {
    float: right;
    margin-left: 25px;
}
.promo-bar .shop-for-him {
    position: relative;
    text-transform: uppercase;
    display: block;
}
.promo-bar .shop-for-him a {
    display: block;
}
.promo-bar .shop-for-him a .trigger {
    border-right: 1px solid #cbcbcb;
    padding-right: 10px;
    font-size: 11px;
    letter-spacing: .5px;
}
.promo-bar .shop-for-him a span {
    float: left;
    padding: 10px 0;
}
.promo-bar .shop-for-him a .trigger-icon {
    width: 40px;
    border-right: 1px solid #EEE;
}
.promo-bar .shop-for-him a .trigger-icon::after {
    content: '';
    position: relative;
    top: -4px;
    left: 17px;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #000;
    display: inline-block;
}
.promo-bar .shop-for-him {
    text-transform: uppercase;
}
.promo-bar .service-message-wrapper {
    padding-top: 2px;
    max-width: 50%;
    margin: 0 auto;
}
.service-message-wrapper {
    background: #eee;
    margin: 0 50px;
    text-align: center;
    padding: 2px 0 5px;
        padding-top: 2px;
    position: relative;
}
.service-message-wrapper {
    text-align: center;
}
.service-message-wrapper .service-banner {
    position: absolute;
    left: 0;
    right: 0;
    top: 2px;
    text-align: center;
}
.service-message-wrapper .caption {
    font-family: ModernNAP-Text;
    font-style: italic;
    font-size: 14px;
    color: #000;
    line-height: 20px;
    padding-top: 6px;
}

#main .service-messages-extended{
display:block; 
z-index: 1;
}
#main .service-messages-extended p span{
white-space: nowrap
}

.logo{
    vertical-align: middle;
    max-height: 30px;
    max-width: 398px;
    width: 100%;
}

.cart.box_1 .fa {
    font-size: 18px;
    border-right: 1px solid #cdcdcd;
    margin-right: 5px;
    padding-right: 5px;
}
.cart.box_1 .reg {
border-right: 1px solid #cdcdcd;
margin-right: 5px;
    padding-right: 5px;
}

.navigation {
    margin: 2em 0 0;
    text-align: center;
    background: #000;
    position: relative;
    z-index: 2;
    width: 100%;
	    height: 30px;
}
.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}
body {
font-family: '33535gillsansmt'
}
h1, h2, h3, h4, h5, h6 {
font-family: '33535gillsansmt'
}
.navbar {
    min-height: auto;
}
.navbar-nav > li > a {
    color: #FFF;
    font-size: 11px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 5px 15px;
    margin: 0 -3px;
}
.navbar-nav > li:nth-child(1) {
    margin-left: 0em;
}
.nav > li {
    padding: 0px 10px;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
color:#fff !important;
}
.w3ls_dresses_grid_left_grid_sub {
    border: none;
    width: auto;
	padding:5px;
}

select.select_item {
padding:6px;
}
.panel_bottom li a {
    font-size: .96em !important;
    text-transform: uppercase;
    font-family: '33535gillsansmt';
    color: #000;
}
.header {
    padding: 1em 0 0;
}
.product-view {
    padding-top: 20px;
}
.panel_bottom li {
    list-style-type: none;
    margin-bottom: 0em;
}
.banner-bottom, .team, .checkout, .additional_info, .team-bottom, .single, .mail, .special-deals, .about, .faq, .typo, .new-products, .banner-bottom1, .top-brands, .dresses, .w3l_related_products {
    padding: 2.5em 0;
}
.description {
    margin: 0.5em 0;
    text-align: left;
}

.form-container {
    position: relative;
    margin-bottom: 20px;
    margin-top: 15px;
    padding-left: 14px;
    border-radius: 3px;
    background-color: #FFF;
    overflow: hidden;
}
.email-input {
    width: 90%;
    padding: 15px 0;
    border: 0;
}
.w3ls_dresses_grid_right {
    padding: 0;
    z-index: 1;
    position: relative;
}
.w3ls_dresses_grid_right {

    z-index: 1;
    position: relative;

}
#product-list-menu-bottom {
    padding-top: 25px;
    margin-top: 14px;
    margin-bottom: 24px;
	    margin-right: 27px;
    text-align: right;
    clear: both;
    overflow: hidden;
}
.w3l_logo {
    float: left;
    margin-left: 10em;
}
.w3l_login {
    float: left;
    margin-top: 18px;
}
.span.promotional_block img {
max-width:100%;
}

.dropdown-shop:hover .multi-column {
    display: block;
}

.dropdown-menu.columns-3 {
    min-width: 700px !important;
}
.dropdown-menu {
    left:-10% !important;
} */

body {
  background-color: #e9ebef;
}

.wrapper {
  max-width: 1550px;
  margin: 0 auto;
  padding: 0;
  min-width: 320px;
}

.header {
  width: 100%;
  display: block;
  min-height: 214px;
  padding-top: 0;
}

.headerwp {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0;
}

.headerfull {
  width: 100%;
  background-color: #fff;
  height: 49px;
  position: relative;
  border-bottom: 2px solid #15010199;
}

.posrlt {
  position: relative;
}

.headtoppart {
  display: block;
  width: 100%;
  background-color: #fff;
  height: 39px;
  margin: 0 auto;
  padding: 0;
  min-width: 320px;
  border-bottom: 1px solid #e5e5e5;
}

.headertopleft {
  float: right;
}

.headertopright {
  float: left;
  text-align: left;
}

.headertopright a {
  line-height: 39px;
  color: #5f5f5f;
  font-size: 14px;
  padding: 0 12px;
  display: inline-block;
  float: left;
}

.headertopright a:hover {
  background-color: #272B37;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.headertopright a.facebookicon:hover {
  background-color: #3b5998;
  color: #fff;
}

.headertopright a.twittericon:hover {
  background-color: #55acee;
  color: #fff;
}

.headertopright a.linkedinicon:hover {
  background-color: #0077b5;
  color: #fff;
}

.headertopright a.googleicon:hover {
  background-color: #dd4b39;
  color: #fff;
}

.address {
  padding: 10px 0 0 0;
  font-size: 12px;
  color: #b6b6b6;
}

.address a {
  color: #838383;
}

.address span {
  margin-right: 9px;
  color: #838383;
}

.address .fa {
  margin-right: 6px;
  margin-left: 6px;
  color: #5f5f5f;
}

.norlt {
  position: static;
}

.menuwrapper {
  position: relative;
}

.show-grid {
  background-color: #fff;
}

.btn-border {
  border: 2px solid;
  border-radius: 40px;
  display: inline-block;
  font-size: 13px;
  text-transform: uppercase;
  -moz-user-select: none;
  background-image: none;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  color: #fff;
  padding: 15px 40px;
}

.btn-border:hover {
  color: #fff;
  text-decoration: none;
  opacity: 0.9;
}

.btn-border:focus {
  color: #fff;
  text-decoration: none;
  opacity: 0.9;
}

.moreoption {
  width: 100%;
  display: block;
  margin-top: 290px;
}

.moreoption .boxheader {
  border: solid 0;
  padding-top: 25px;
  padding-bottom: 10px;
  font-size: 16px;
  color: #717171;
}

.mobiletext02 {
  display: none;
}

.buttoncolor {
  color: #fff;
  display: block;
  font-size: 13px;
  padding: 10px 15px;
  text-decoration: none;
  transition: background 0.3s linear 0s;
  width: 12.5%;
  height: 30px;
  float: left;
  text-align: center;
  margin: 0px 0px;
}

.buttoncolor:hover {
  color: #fff;
  text-decoration: none;
}

.buttoncolor:focus {
  color: #fff;
  text-decoration: none;
}

.buttoncolor03 {
  color: #fff;
  display: block;
  font-size: 13px;
  padding: 10px 15px;
  text-decoration: none;
  transition: background 0.3s linear 0s;
  width: 12.5%;
  height: 30px;
  float: left;
  text-align: center;
  margin: 0px 0px;
}

.buttoncolor03:hover {
  color: #fff;
  text-decoration: none;
}

.buttoncolor03:focus {
  color: #fff;
  text-decoration: none;
}

.headertlt {
  width: 100%;
  padding: 40px 0px 15px 0px;
  letter-spacing: -0.5px;
  font-size: 22px;
  font-family: 'archivo_narrowregular';
  color: #424242;
}

.colorlink01 {
  width: 40%;
  float: left;
  margin: 0% 0% 0% 2%;
}

.colorlink02 {
  width: 40%;
  float: left;
  margin: 0% 0% 0% 2%;
}

.colorlink03 {
  width: 14%;
  float: left;
  margin: 0% 0% 0% 2%;
}

.buttoncolor02 {
  color: #424242;
  display: block;
  font-size: 15px;
  border-radius: 2px;
  height: 30px;
  padding: 10px 15px;
  text-decoration: none;
  transition: background 0.3s linear 0s;
  width: 100%;
  border-right: solid 5px #fff;
  float: left;
  text-align: center;
  margin: 0% 0% 0% 0%;
  background-color: #f2f2f2;
  border: solid 1px #D9D9D9;
  cursor: pointer;
  text-align: center !important;
  text-decoration: none !important;
  width: 50%;
  float: left;
}

.buttoncolor02:hover {
  background-color: #424242;
  color: #000;
}

.buttoncolor02.active {
  background-color: #424242;
  color: #fff;
}

.main-content {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

@media only screen and (min-width: 230px) and (max-width:991px) {
  .wrapper {
    width: 100%;
    margin: 0% 0%;
  }
  .header {
    min-height: 75px;
  }
  .logo {
    display: none !important;
  }
  .header {
    box-shadow: none !important;
    background-image: none !important;
  }
  .colorlink01 {
    width: 92% !important;
    margin: 0% 4%;
  }
  .colorlink02 {
    width: 92% !important;
    margin: 0% 4%;
  }
  .colorlink03 {
    width: 92% !important;
    margin: 0% 4%;
  }
  .buttoncolor02 {
    width: 100% !important;
    margin-bottom: 2%;
  }
  .buttoncolor {
    width: 25%;
  }
  .buttoncolor03 {
    width: 25%;
  }
  .moreoption {
    width: 100%;
    margin: 85px 0 0 0;
    background-color: transparent !important;
    border: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
  }
  .headtoppart {
    margin-top: 52px;
    height: auto;
    background-color: #f8f8f8;
  }
  .topmenusearch {
    margin: 0px 0 0;
    width: 100%;
  }
  .topmenusearch input:focus {
    width: 100%;
  }
  .posrlt {
    width: 240px;
    float: none;
  }
  .headerright {
    width: 100%;
    float: none;
  }
  .headertopleft {
    float: none;
    width: 96%;
    margin: 0% 2%;
  }
  .headertopright {
    float: none;
    width: 96%;
    margin: 0% 2%;
  }
  .address.clearfix:before, .address.clearfix:after {
    content: "";
    display: table;
  }
  .address.clearfix:after {
    clear: both;
  }
  .address.clearfix {
    zoom: 1;
  }
  .headertopleft {
    display: block;
    margin: 0% 3%;
  }
  .headerfull {
    height: auto;
  }
  .headertopright a {
    width: 100%;
    text-align: left;
  }
  .address span {
    color: #000;
  }
  .address a {
    color: #000;
  }
}

@media only screen and (min-width: 920px) and (max-width:1064px) {
  .wrapper {
    width: 96%;
    margin: 0% 2%;
  }
  .colorlink01 {
    width: 100% !important;
    margin: 0%;
  }
  .colorlink02 {
    width: 100% !important;
    margin: 0%;
  }
  .colorlink03 {
    width: 100% !important;
    margin: 0%;
  }
  .buttoncolor02 {
    width: 50% !important;
    margin-bottom: 1%;
  }
  .logo {
    float: none !important;
    margin: 0 auto !important;
    width: 100% !important;
    text-align: center;
  }
}

@media only screen and (min-width: 1024px) and (max-width:1200px) {
  .wrapper {
    width: 96%;
    margin: 0% 2%;
  }
  .colorlink01 {
    width: 100% !important;
    margin: 0%;
  }
  .colorlink02 {
    width: 100% !important;
    margin: 0%;
  }
  .colorlink03 {
    width: 100% !important;
    margin: 0%;
  }
}

@media only screen and (min-width: 480px) and (max-width:780px) {
  .mobiletext02 {
    display: inline-block;
  }
 
}

@media only screen and (min-width: 320px) and (max-width:479px) {
  .headertopright a .fa {
    margin-right: 0px;
  }
}

i.fa-truck {
  -webkit-transform:rotateY(180deg);
  -moz-transform:rotateY(180deg);
  -o-transform:rotateY(180deg);
  -ms-transform:rotateY(180deg);
} 

.headertopright a:hover {
background: none !important;
}

@media only screen and (max-width:1024px){
  .product-list-menu > h1 {
    font-size: 32px;
  }
}

.wsmenu-list li a span:hover {
  color:#000;
}

.wsmenulink-active > a > span:before {
  position: absolute;
content: '';
top: 42px;
right: 50%;
width: 13px;
height: 13px;
transform: rotate(225deg);
-webkit-transform: rotate(225deg);
-moz-transform: rotate(225deg);
-o-transform: rotate(225deg);
-ms-transform: rotate(225deg);
z-index: 100;
background-color: #000;
} 
.wsmenulink-active > a > span:after {
  position: absolute;
content: '';
top: 42px;
right: 50%;
width: 13px;
height: 13px;
transform: rotate(225deg);
-webkit-transform: rotate(225deg);
-moz-transform: rotate(225deg);
-o-transform: rotate(225deg);
-ms-transform: rotate(225deg);
z-index: 100;
background-color: #000;
} 
/* .wsmenulink-active:hover:after {
  position: absolute;
content: '';
top: 42px;
right: 50%;
width: 13px;
height: 13px;
transform: rotate(225deg);
-webkit-transform: rotate(225deg);
-moz-transform: rotate(225deg);
-o-transform: rotate(225deg);
-ms-transform: rotate(225deg);
z-index: 100;
background-color: #000;
} */

.wsmenu-list li a span:hover:after {
position: absolute;
content: '';
top: 42px;
right: 50%;
width: 13px;
height: 13px;
transform: rotate(225deg);
-webkit-transform: rotate(225deg);
-moz-transform: rotate(225deg);
-o-transform: rotate(225deg);
-ms-transform: rotate(225deg);
z-index: 100;
background-color: #000;
}
.wsmenu-list li a span:hover:before {
  position: absolute;
  content: '';
  top: 42px;
  right: 50%;
  width: 13px;
  height: 13px;
  transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  z-index: 100;
  background-color: #000;
  }

 .smallogo {
  width: 100%;
  display: block;
  text-align: center;
  padding-top: 9px;
  position: fixed;
  z-index: 101;
  width: 100%;
  height: 52px;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .5);
}

.smallogo>img {
  margin-top: 0px;
  height: 32px;
}

.smllogo {
padding: 5px 10px 0px 50px;
margin: 0px 10px 3px 310px;
float: left;
width: 11%;
}

.smllogo a {
display: block;
float: left;
padding: 0px 0px 0px 0px;
}

.carousel-control .icon-prev, .carousel-control .glyphicon-chevron-left {
  left:0%;
}
span.glyphicon.glyphicon-chevron-right {
  right:0%;
}

.wsshoplink-active:hover > a {
  font-weight: bolder;
} 

.wsmenulink-inactive{
  display: none;
}

li.wsmenu-actives > a > span {
  font-weight: bolder;
}

li.wsshoplink-active > a {
  font-weight: bolder;
}