<div class="headerfull">
  <!--Main Menu HTML Code-->
  <div class="wsmain">
    <div class="smllogo">
      <img src="../assets/images/shop-logo.png">
    </div>
    <nav class="wsmenu clearfix">
      <ul class="mobile-sub wsmenu-list">

        <li *ngFor="let menu of menus;let i = index;" (mouseenter)="setMenuClickedRow(i)" [ngClass]="{'wsmenulink-active':i == (selectedMenuRow?selectedMenuRow:0),'wscategoryactive':activeCategoryIndex==menuCategory,'wsmenu-actives':activeIndex==i}" (mouseleave)="setMenuClickedRow(-1)">
          <a (click)="selectMenu(menu);setMenuClickedRow(i);activeIndex=i" class="navtext">
            <span>{{menu.menuName | translate}}</span>
          </a>
          <div class="wsshoptabing wtsbrandmenu clearfix">
            <div class="wsshoptabingwp clearfix">
              <ul class="wstabitem02 clearfix">

                <li *ngFor="let category of menu.categories; let menuCategory = index" [ngClass]="{'wsshoplink-active':menuCategory == (selectedRow?selectedRow:0),'wscategoryactive':activeCategoryIndex==menuCategory}"
                  (mouseenter)="setClickedRow(menuCategory)">
                  <a [routerLink]="['/shop',cn,ln,menu.menuId,category.categoryId]" (click)="selectedCategoryIndex=menuCategory;activeIndex = i;">{{category.categoryName | translate}}</a>
                  <div class="wsshoptab-active wstbrandbottom clearfix">
                    <div class="container">
                      <div class="row">
                        <div class="col-lg-8 col-md-6">
                          <div class="col-lg-4 col-md-3" *ngFor="let subCategory of category.subCategory">
                            <ul class="wstliststy02 clearfix">
                              <li class="wstheading clearfix">
                                <a [routerLink]="['/shop',cn,ln,menu.menuId,category.categoryId,subCategory.id]" (click)="activeIndex = i">
                                  {{subCategory.name | translate}}
                                  <i class="fa fa-caret-right"></i>
                                </a>
                              </li>
                              <li *ngFor="let subLevel of subCategory.subLevelCategory">
                                <a [routerLink]="['/shop',cn,ln,menu.menuId,category.categoryId,subCategory.id,subLevel.subLevelCategoryId]" (click)="activeIndex = i">
                                  {{subLevel.subLevelCategoryName | translate}}</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-3">
                          <img class="model-menu-img" src="https://qph.fs.quoracdn.net/main-qimg-be11ba5cb1572b4b0051e9930325cbd9" />
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="wssearchbar clearfix">
          <form class="topmenusearch">
            <input name="searchItem" [ngModel]="searchItem" (keydown)="onSearchProduct($event,$event.target.value)" placeholder="Search Product, Category...">
            <button class="btnstyle">
              <i class="searchicon fa fa-search" aria-hidden="true"></i>
            </button>
          </form>
        </li>
        <li class="wscarticon clearfix">
          <a href="#">
            <i class="fa fa-shopping-bag"></i>
            <em class="roundpoint">8</em>
            <span class="mobiletext">Shopping Cart</span>
          </a>
        </li>

      </ul>
    </nav>
  </div>
  <!--Menu HTML Code-->
</div>